.idea/
.php-cs-fixer.cache
.phpunit.cache/
.phpunit.result.cache
.vscode/
composer.lock
coverage_report/
coverage-report/
coverage.xml
coverage/
custom-output.css.map
custom/
generated.scss
node_modules/
output.css.map
result-*
vendor/

accepted/
spec/

*.yaml
*.json
!composer.json

*.md
!README*.md

style.scss
test.php
