.idea/
.opencode/
.php-cs-fixer.cache
.phpunit.cache/
.phpunit.result.cache
.vscode/
composer.lock
coverage_report/
coverage-report/
coverage.xml
coverage/
custom-output.css.map
custom/
generated.scss
output.css.map
result-*
vendor/

packages/
spec/

*.yaml
*.json
!composer.json

run_spec*

Dockerfile

*.md
!README*.md

style.scss
test.php
